@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --azul-escuro:#264653;
    --laranja-pastel:#F4A261;
    --laranja-vivo:#FF8D33;
    --branco-macio:#F0F3F4;
    --verde-zap:#61CE70;
    --cinza:#959595;
    --black:#090909;
    --grafite:#111;
    --grafite-macio:#222;
    --container-full: 960px;
    --container-tablet: 704px;
    --container-mobile: 380px;
    --title-h1:3em;
    --title-h2:2.5em;
    --texto-p:1.25em;
    --texto-article:1.25em;
}

  /* geral */
html{
  font-size: 16px;

}
.hidden{
  display: none;
}


/* efeito pulse buttom */ 
.pulse-button {
  position: fixed;
  bottom: 20px;
  right: 20px; 
  display: inline-block;
  border-radius: 50%;
  background: none;
  padding: -10px;
  animation: pulse 2s infinite;
  z-index: 999;
}

.pulse-button img {
  width: 50px; 
  height: 50px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(41, 126, 166, 0.7);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(41, 126, 166, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(41, 126, 166, 0);
  }
}
/* efeito pulse buttom */