@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --vermelho-claro:#DD0B10;
    --vermelho-escuro:#B70002;
    --branco-macio:#F7F7F7;
    --cinza:#959595;
    --black:#090909;
    --grafite:#111;
    --grafite-macio:#222;
    --container-full: 960px;
    --container-tablet: 704px;
    --container-mobile: 767px;
    --container-mobile-restricted: 380px;
    --title-h1:3em;
    --title-h2:2.5em;
    --texto-p:1.25em;
    --texto-article:1.25em;
}
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

  /* geral */
html{
  scroll-behavior: smooth; 
  background-color: var(--branco-macio);
}
.hidden{
  display: none;
}
.header{
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px 16px;
  background-color: var(--vermelho-escuro);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  z-index: 1000;  
}
.header-interno{
  display: flex;
  justify-content:space-between;
  position: relative;
  max-width: var(--container-full);
  width: 100%;
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: flex-end;
}
.header-interno figure, .header-interno nav{
  flex: 1;
}
.header-interno figure{
  padding: 8px 0;
  margin: 4px auto;
  display: flex;
  justify-content: flex-start;
  border-radius: 56px;
}
#btnMobile{
  display: none;
}
.header .header-menu li a, .btn-simples a{
  color: var(--branco-macio); 
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.header-menu li{
  margin-left: 16px;
  padding: 8px 20px;
  white-space: nowrap;
  border-radius: 12px;
  transition: .6s ease;
}
.header-menu li:hover{
  background-color: var(--branco-macio);
}
.header-menu li:hover a{
  color:var(--vermelho-escuro);
}
.main-section{
  max-width: var(--container-full);
  min-width:var(--container-full); 
}

h2{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 24px;
  font-size: 20px;
  letter-spacing: .3em;
  color: white; /* Ajuste a cor do texto conforme necessário */
  text-align: center; /* Centraliza o texto */
  margin: 0; /* Remove margens padrão */
}
article{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin: 24px 0;
  line-height: 2.4em;
}
.section-contato p {
  padding: 0 48px;
  margin: 24px 0;
}
.section-contato p a{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 2em;
  color: #222;
}
.main-section .btn-area{
  min-width: 100%;
  display: flex;
  align-items: center;
}
.btn-simples{
  cursor: pointer;
  margin: 24px auto;
  width: 236px;
  height: 60px;
  border: 2px solid var(--grafite-macio); 
  border-radius: 14px;
  letter-spacing: .3em;
  background: linear-gradient(to bottom, var(--vermelho-claro) , var(--vermelho-escuro) 60%);
  transition: .4s ease;
}
.btn-simples a{
  width: 100%;
  height: 100%;
}
.btn-simples:hover{
  background:var(--branco-macio);

}
.btn-simples:hover a{
  color: var(--vermelho-escuro);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-top: 176px;
  min-width: 100%;
  margin-bottom: 32px;
}
.main-section{
  border-bottom: 2px solid var(--cinza);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.main-section article, .main-section ul li{
  color: var(--black);
  font-weight: 500;
}

/* página home */
.section-servicos{
  position: relative;
  background: url('../img/img_bg/manut_motor_2.png');
  background-size: cover;
  background-position: 50%;
}
.section-produtos{
  position: relative;
  background: url('../img/img_bg/linha_produtos_estetica_1.png');
  background-size: cover;
  background-position: 60%;
}
.section-sobre{
  position: relative;
  background: url('../img/img_bg/manut_motor_3.png');
  background-size: cover;
  background-position: 40%;
}
.section-contato{
  position: relative;
  background: url('../img/img_bg/pneu_roda_esportiva_1.png');
  background-size: 200%;
  background-position: 40%;
  background-position: 60%;
}
.section-servicos::before, .section-produtos::before, .section-sobre::before, .section-contato::before, .section-oficina::before, .section-estetica::before, .section-pecas::before, .section-esteticos::before{
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 1; 
  border-radius: 20px;
}
.section-servicos article, .section-servicos button, .triangulo-arredondado, .section-produtos article, .section-produtos button, .section-sobre article, .section-sobre button, .section-contato div, .section-oficina ul, .section-estetica ul, .section-pecas ul, .section-esteticos ul{
  position: relative; 
  z-index: 2; 
}
/* página home */
.triangulo-arredondado {
  min-width: 100%;
  padding-top: 56.25%;
  background: url('../img/decor/Polygon9.svg') no-repeat;
  background-position: top right;
  background-size: 300px;
  position: relative;
}
.triangulo-arredondado h2 {
  position: absolute;
  top: 10%; 
  left: 88%;
  transform: translate(-50%, -50%);
}
.main-section article{
  margin: 0 auto;
  text-align: center;
  width: 90%;
  margin-bottom: 32px;
  font-size: 1.6em;
}
.section-sobre .triangulo-arredondado h2 {
  white-space: nowrap;
}
.section-contato p span{
  display: inline-block; /* Garante que o span possa ser rotacionado */
  width: 24px; /* Defina a largura desejada */
  height: 24px; /* Defina a altura desejada */
  background: url('../img/decor/Polygon9.svg') no-repeat center;
  background-size: contain; 
  transform-origin: center; 
  transform: rotate(90deg); /* Aplica a rotação desejada */
  transition: transform 0.5s; /* Adiciona uma transição suave se desejar */
  margin: 0 8px;
}
.section-contato p a{
  text-decoration: underline;
}

footer{
  min-width:100%;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 2em;
  color: #222;
}

/* Demais Serviços e Produtos */
.title-area{
  min-width: 100%;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.2em;
  display: flex;
  justify-content: center;
}
.title-area h1{
  min-width: 100%;
  padding: 0 30px;
  background: url('../img/decor/Polygon9.svg') no-repeat;
  background-position: right;
  background-size: contain; /* Use 'contain' para que a imagem mantenha a proporção */
  position: relative; /* Se você precisar de posicionamento absoluto de filhos */
}

.section-oficina{
  position: relative;
  background: url('../img/img_bg/manut_motor_1.png');
  background-size: cover;
  background-position: 50%;
}
.section-estetica{
  position: relative;
  background: url('../img/img_bg/pintando_carro_bg_4.png');
  background-size: cover;
  background-position: 60%;
}
.section-pecas{
  position: relative;
  background: url('../img/img_bg/prod_pecas_bg_1.png');
  background-size: cover;
  background-position: 50%;
}
.section-esteticos{
  position: relative;
  background: url('../img/img_bg/linha_produtos_estetica_2.png');
  background-size: cover;
  background-position: 60%;
}
.main-section .listagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}
.main-section ul li{
  font-size: 1.8em;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.main-section ul li::before{
  content: '';
  display: inline-block; /* Garante que o span possa ser rotacionado */
  width: 1em; /* Defina a largura desejada */
  height: 1em; /* Defina a altura desejada */
  background: url('../img/decor/Polygon9.svg') no-repeat center;
  background-size: contain; 
  transform-origin: center; 
  transform: rotate(90deg); /* Aplica a rotação desejada */
  transition: transform 0.5s; /* Adiciona uma transição suave se desejar */
  margin: 0 8px ;
}
.main-section ul li::after{
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: var(--grafite-macio);
}
/* contatos */
.redes-sociais p a{
  font-size: 2em;
}
/* contatos */

/* footer */
footer{
  font-size: 1em;
}
footer a{
  color: var(--grafite-macio);
  text-decoration: underline;
}
footer a:visited{
  color: var(--grafite-macio);
}
/* footer */

/* Demais Serviços e Produtos */

/* geral */

/* resposivo */
/* Tablet */
@media only screen and (max-width: 768px) {
  /* .header-interno{
    min-width: 100%;
    display: flex;
    justify-content:space-between;
    position: relative;
  } */
  .header-interno figure, .header-interno nav{
    flex: 1;
  }
  #btnMobile{
    display: block;
  }
  .header-interno nav{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .header-interno nav ul li:hover{
    background-color: var(--vermelho-claro);
    border-bottom: 2px solid var(--branco-macio);
  }
  .header-interno nav ul li:hover a{
    color: var(--branco-macio);
  }
  /* menu mobile */
  .header-interno nav ul{
    display: block;
    position: absolute;
    width: 100%;
    top: 136px;
    right: 0px;
    height: 0;
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
    border-radius: 20px;
    background-color: var(--vermelho-escuro);
  }
  .header-interno nav ul li{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid var(--cinza);
    border-radius: 10px;
    padding-left: 26px;
  }
  #headerNav.active .header-menu{
    height: calc(30vh);
    visibility: visible;
    overflow-y: auto;
  }
  #btnMobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: var(--texto-p);
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburguer{
    border-top: 3px solid var(--branco-macio);
    width: 40px;
    border-radius: 2px;
    transition: 1s;
  }
  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--branco-macio);
    margin-top: 10px;
    transition: .6s;
    position: relative;
    border-radius: 2px;
  }
  #headerNav.active #hamburguer{
    transition: 1s;
    border-top-color: transparent;
  }
  #headerNav.active #hamburguer::before{
    transform: rotate(135deg);
  }
  #headerNav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -12px
  }
  .main-section{
    max-width:var(--container-tablet); 
    min-width:90%; 
  }
  .triangulo-arredondado {
    min-width: 100%;
    padding-top: 56.25%;
    background: url('../img/decor/Polygon9.svg') no-repeat;
    background-position: top right;
  }
  .triangulo-arredondado h2 {
    left: 85%;
  }
  .main-section ul li{
    font-size: 1.7em;
    margin-bottom: 32px;
  }
  footer{
    font-size: 1.4em;
  }
}
/* Tablet */
/* Mobile first */
@media only screen and (max-width: 500px){
    /* main */
  .main-section{
    max-width:var(--container-mobile-restricted); 
    min-width:90%; 
  }
  .main-section article{
    font-size: 1em;

  }
  .triangulo-arredondado{
    background-size: contain; 
  }
  .main-section article{
    padding: 0 auto;
  }
  .triangulo-arredondado h2 {
    top: 16%; /* Centraliza verticalmente */
    left: 76%; /* Centraliza horizontalmente */

  }

  /* section serviços */

  /* section serviços */

  /* section sobre nós */
  .section-sobre .triangulo-arredondado h2{
    top: 25%; /* Centraliza verticalmente */
    left: 78%; /* Centraliza horizontalmente */
    line-height: 3rem;
  }
    /* section sobre nós */

    /* section contatos */
    .section-contato{
      min-width:var(--container-mobile-restricted); 
    }
    .redes-sociais p a{
      font-size: 1.2em;
    }

    /* section contatos */

    /* footer */
    footer{
      font-size: 1em;
    }
    /* footer */

  /* Páginas Servicos e Produtos */
  .main-section ul li{
    line-height: 2em;
  }
  /* Páginas Servicos e Produtos */
  .main-section ul li{
    font-size: .9em;
    margin-bottom: 6px;
    padding: 0 12px
    
  }
  /* Páginas Servicos e Produtos */
    /* main */
}
/* Mobile first */
/* resposivo */

/* efeito pulse buttom */ 
.pulse-button {
  position: fixed;
  bottom: 20px;
  right: 20px; 
  display: inline-block;
  border-radius: 50%;
  background: none;
  padding: -10px;
  animation: pulse 2s infinite;
  z-index: 999;
}

.pulse-button img {
  width: 50px; 
  height: 50px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(41, 126, 166, 0.7);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(41, 126, 166, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(41, 126, 166, 0);
  }
}
/* efeito pulse buttom */