@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --vermelho-claro:#DD0B10;
    --vermelho-escuro:#B70002;
    --branco-macio:#F7F7F7;
    --cinza:#959595;
    --grafite:#111;
    --container-full: 960px;
    --container-tablet: 768px;
    --container-mobile: 767px;
    --container-mobile-restricted: 380px;
    --title-h1:3em;
    --title-h2:2.5em;
    --texto-p:1.25em;
    --texto-article:1.25em;
}
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

  /* geral */
html{
  scroll-behavior: smooth; 
}
.hidden{
  display: none;
}
.header{
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px 16px;
  background-color: var(--vermelho-escuro);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  z-index: 1000;  
}
.header-interno figure{
  background-color: var(--branco-macio);
  padding: 8px 24px;
  margin: 8px auto;
  display: flex;
  justify-content: center;
  border-radius: 56px;
}
#btnMobile{
  display: none;
}
.header .header-interno nav ul li a, .btn-simples a{
  color: var(--branco-macio); 
}
.header-interno nav ul li:hover{
  background-color: var(--vermelho-claro);
  border-bottom: 2px solid var(--branco-macio);
}
h2{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 24px;
  letter-spacing: .3em;
}
article{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin: 24px 0;
  line-height: 2.4em;
}
.section-contato p {
  padding: 0 48px;
  margin: 24px 0;
}
.section-contato p a{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 2em;
  color: #222;
}
.btn-simples{
  margin: 24px auto;
  width: 236px;
  height: 60px;
  border: 2px solid var(--branco-macio); 
  border-radius: 14px;
  letter-spacing: .3em;
  background: linear-gradient(to bottom, var(--vermelho-claro) , var(--vermelho-escuro) 60%)
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.main-section{
  /* padding: 0 8px; */
  border-bottom: 2px solid var(--cinza);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.main-section article{
  color: var(--grafite);
}
.section-servicos{
  position: relative;
  background: url('../img/img_bg/manut_motor_2.png');
  background-size: cover;
  background-position: 50%;
}
.section-produtos{
  position: relative;
  background: url('../img/img_bg/linha_produtos_estetica_1.png');
  background-size: cover;
  background-position: 60%;
}
.section-sobre{
  position: relative;
  background: url('../img/img_bg/manut_motor_3.png');
  background-size: cover;
  background-position: 40%;
}
.section-contato{
  position: relative;
  background: url('../img/img_bg/pneu_roda_esportiva_1.png');
  background-size: cover;
  background-position: 40%;
}
.section-servicos::before, .section-produtos::before, .section-sobre::before, .section-contato::before{
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6); 
  z-index: 1; 
}
.section-servicos article, .section-servicos button, .triangulo-arredondado, .section-produtos article, .section-produtos button, .section-sobre article, .section-sobre button, .section-contato div{
  position: relative; /* Para garantir que o conteúdo fique acima da camada */
  z-index: 2; /* Aumenta o z-index para que o conteúdo seja visível */
}
.triangulo-arredondado {
  min-width: 100%; /* Largura mínima */
  padding-top: 56.25%; /* Porcentagem baseada na proporção desejada (ex: 16:9) */
  background: url('../img/decor/Polygon9.svg') no-repeat;
  background-position: top right;
  background-size: contain; /* Use 'contain' para que a imagem mantenha a proporção */
  position: relative; /* Se você precisar de posicionamento absoluto de filhos */
}
.triangulo-arredondado h2 {
  position: absolute; /* Permite o posicionamento relativo ao pai */
  top: 15%; /* Centraliza verticalmente */
  left: 77%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Move o h2 para o centro */
  color: white; /* Ajuste a cor do texto conforme necessário */
  text-align: center; /* Centraliza o texto */
  margin: 0; /* Remove margens padrão */
  font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
}
.section-contato p span{
  display: inline-block; /* Garante que o span possa ser rotacionado */
  width: 24px; /* Defina a largura desejada */
  height: 24px; /* Defina a altura desejada */
  background: url('../img/decor/Polygon9.svg') no-repeat center;
  background-size: contain; 
  transform-origin: center; 
  transform: rotate(90deg); /* Aplica a rotação desejada */
  transition: transform 0.5s; /* Adiciona uma transição suave se desejar */
  margin: 0 8px ;
}

/* geral */

/* resposivo */
/* Mobile first */
@media only screen and (max-width: 500px){
  .header-interno{
    min-width: 100%;
    display: flex;
    justify-content:space-between;
    position: relative;
  }
  .header-interno figure, .header-interno nav{
    flex: 1;
  }
  #btnMobile{
    display: block;
  }
  .header-interno nav{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  /* menu mobile */
  .header-interno nav ul{
    display: block;
    background-color: var(--vermelho-escuro);
    position: absolute;
    width: 100%;
    top: 136px;
    right: 0px;
    height: 0;
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
    border-radius: 20px;
  }
  .header-interno nav ul li{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid var(--cinza);
    border-radius: 10px;
    padding-left: 26px;
  }
  #headerNav.active .header-menu{
    height: calc(30vh);
    visibility: visible;
    overflow-y: auto;
  }
  #btnMobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: var(--texto-p);
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburguer{
    border-top: 3px solid var(--branco-macio);
    width: 40px;
    border-radius: 2px;
    transition: 1s;
  }
  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--branco-macio);
    margin-top: 10px;
    transition: .6s;
    position: relative;
    border-radius: 2px;
  }
  #headerNav.active #hamburguer{
    transition: 1s;
    border-top-color: transparent;
  }
  #headerNav.active #hamburguer::before{
    transform: rotate(135deg);
  }
  #headerNav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -12px
  }

  /* main */
  main{
    padding-top: 148px;
    min-width: 100%;
  }
.main-section{
  max-width:var(--container-mobile-restricted); 
}
.main-section article{
  text-align: center;

}
article{
  padding: 0 32px;
}
.triangulo-arredondado h2 {
  top: 16%; /* Centraliza verticalmente */
  left: 76%; /* Centraliza horizontalmente */
}

/* section serviços */

/* section serviços */

/* section sobre nós */
.section-sobre .triangulo-arredondado h2{
  top: 25%; /* Centraliza verticalmente */
  left: 78%; /* Centraliza horizontalmente */
  line-height: 3rem;
}
  /* section sobre nós */

  /* section contatos */
  .section-contato{
    min-width:var(--container-mobile-restricted); 
  }

  /* section contatos */

  /* main */

  /* menu mobile */
  
};
/* Mobile first */
/* Tablet */
/* @media only screen and (max-width: 959px) {
}; */
/* Tablet */

/* resposivo */

