@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --vermelho-claro:#DD0B10;
    --vermelho-escuro:#B70002;
    --branco-macio:#F7F7F7;
    --cinza:#959595;
    --grafite:#222;
    --container-full: 960px;
    --container-tablet: 768px;
    --container-mobile: 767px;
    --container-mobile-restricted: 413px;
    --title-h1:3em;
    --title-h2:2.5em;
    --texto-p:1.25em;
    --texto-article:1.25em;
}
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

  /* geral */
.header{
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  background-color: var(--vermelho-escuro);
}
.header-interno figure{
  background-color: var(--branco-macio);
  padding: 8px 24px;
  margin: 8px auto;
  display: flex;
  justify-content: center;
  border-radius: 56px;
}
#btnMobile{
  display: none;
}
.header .header-interno nav ul li a{
  color: var(--branco-macio); 
}
/* geral */

/* resposivo */
/* Mobile first */
@media only screen and (max-width: 500px){
  .header-interno{
    min-width: 100%;
    display: flex;
    justify-content:space-between;
  }
  .header-interno figure, .header-interno nav{
    flex: 1;
  }
  #btnMobile{
    display: block;
  }
  .header-interno nav ul{
    display: none;
  }
  

  
};
/* Mobile first */
/* Tablet */
/* @media only screen and (max-width: 959px) {
}; */
/* Tablet */

/* resposivo */
